<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="card" style="margin-top: 5%">
  <h5 class="card-header">LOGIN</h5>
  <div class="card-body">
  	<div class="alert alert-danger " [hidden]="!error">
  		{{error}}
  	</div>
   <form #loginForm=ngForm (ngSubmit)="onSubmit()">


  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="form.email" name="email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="form.password" name="password" required>
  </div>


  <button type="submit" class="btn btn-primary form-control" [disabled]="!loginForm.valid">Submit</button>
  <p></p>
  <p></p>
  <a class="text-center" routerLink="/signup">Don't have an account  <b>Register now</b></a>
</form>
  </div>
</div>
	</div>
	<div class="col-md-3"></div>
</div>