<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		
		<div class="card" style="margin-top: 5%">
  <h5 class="card-header">SIGN UP</h5>
  <div class="card-body">
  	<div class="alert alert-danger " [hidden]="!error">
  		{{error}}
  	</div>
   <form #loginForm=ngForm (ngSubmit)="onSubmit()">
   	    <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" #nameRef="ngModel" id="exampleInputname" aria-describedby="emailHelp" placeholder="Enter Name" [(ngModel)]="form.name" name="name" required>
    <small id="emailHelp" class="form-text" [hidden]="nameRef.valid || nameRef.pristine" style="color: red">Please enter name</small>
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" email class="form-control" #emailRef="ngModel" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"  [(ngModel)]="form.email" name="email" required>
    <small id="emailHelp" class="form-text" [hidden]="emailRef.valid || emailRef.pristine || emailRef.errors?.email" style="color: red">Please enter email</small>
   
    	 <small [hidden]="!emailRef.errors?.email" style="color: red">Please enter valid email</small>
   
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" #passwordRef="ngModel" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="form.password" name="password" required>
    <small class="form-text" [hidden]="passwordRef.valid || passwordRef.pristine" style="color: red">Please enter password</small>
  </div>
   
   <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" class="form-control" #cpassRef="ngModel" id="exampleInputCPassw" placeholder="Confirm Password" [(ngModel)]="form.confirm_password" name="confirm_password" required>
    <small class="form-text" [hidden]="cpassRef.valid || cpassRef.pristine" style="color: red">Please confirm the password</small>
    <small [hidden]="passwordRef.value == cpassRef.value || cpassRef.value=='' || cpassRef.untouched" style="color: red">Password mismatched</small>
  </div>
  <button type="submit" class="btn btn-primary form-control" [disabled]="!loginForm.valid">Submit</button>
  <p></p>
  <p></p>
</form>
  </div>
</div>
	</div>
	<div class="col-md-3"></div>
</div>